## Data Science Tools and Ecoystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1-python
2-R/R Studio
3-Java
4-Scala

**objectives:_**
* list popular languages for data science
* cover popular libraries for data science
* introduction to jupyter notebook, git/github.

Some of the commonly used libraries used by Data Scientists include:
1-pandas
2-Numpy
3-scipy
4-keras
5-pytorch

|data science tools|
|------------------|
|jupyter notebook  |
|pycharm           |
|vscode            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
mins = 200;
hrs = mins / 60;
print(hrs)

3.3333333333333335

## Author
YUSUPHA SINJANKA